REACT_APP_URL="http://localhost:3000"
REACT_APP_LOCALE="ja"

# tune-authの値
REACT_APP_GOOGLE_CLIENT_ID=""
REACT_APP_GOOGLE_REDIRECT_URI=""
REACT_APP_GOOGLE_AUTHORIZATION="https://accounts.google.com/o/oauth2/auth"
REACT_APP_SIGNIN_API=""